<div class="title-container">

<h1>Contactez nous !</h1>
<p>vous pouvez nous trouvez ici : </p>

</div> 
<div class="centered-content">
<center>
<ul>
  <li>Email: <a href="mailto:n_guggenbuhl@hotmail.com">n_guggenbuhl@hotmail.com</a></li>
  <li>Phone: 07.86.84.66.95</li>
  <li>Discord: <a href="https://discord.gg/J5stGVyv">Discord </a></li>
</ul>
</div>
</center>