<body>
    <div class="centered-content">
        <h1>L'ensemble de notre team vous souhaite la bienvenue !</h1>

        <p>Nous sommes tous attentifs à vos attentes mais avant cela laissez-nous nous présenter !</p>

        <ul>
            <li>Lilian alias ista !</li>
            <li>Félix alias le fonda !</li>
            <li>Florian alias le papa poule !</li>
            <li>Jérémie le staff ! </li> 
            <li>Nina ! </li>
        </ul>
    </div>
</body>

